<div class='cms_form'>
<%  paragraph_options_form_for :custom_code do |f| -%>
<% if myself.has_role?('admin_system') %>
  <%= f.text_area :code, :cols => 120, :rows => 15, :vertical => true %>
  <%= f.text_area :view, :cols => 120, :rows => 15, :vertical => true %>
<% else -%>
<%= f.custom_field "No Permissions", :value => "Only System Administrators can edit custom code paragraphs" %>
<% end -%>
<% end -%>
</div>
